{extend name="base/base" /}
{block name="body"}
	<div class="mt-20">
		<input type="hidden" value={$id} id="group_id">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					
					<th width="5%">全选</th>
					<th width="10%">主目录</th>
					<th width="20%">附属目录</th>
					
				</tr>
			</thead>
			<tbody>
				{volist name="rules" id="item"}
				<tr class="text-l">
					<td>
						<input type="checkbox" class="input-checkbox" value="" placeholder="" name="check" >全选<br/>
					</td>
					<td>
						<input type="checkbox" class="input-checkbox" value="{$item.rule_id}" placeholder="" name="rules" {$item.str}>{$item.rule_title}
					</td>
					<td>
						{volist name="$item['son']" id="items"}
							<input type="checkbox" class="input-checkbox" value="{$items.rule_id}" placeholder="" name="rules" {$items.str}>&nbsp;&nbsp;{$items.rule_title}<br/>
						{/volist}
					</td>
				</tr>
				{/volist}
				
			</tbody>
			
		</table>
		
	</div>


		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<input  class="btn btn-primary radius" type="button" value='确认' onclick="nodesave()">
				<input class="btn btn-default radius" type="reset" value="取消">
			</div>
	
</div>
{/block}
{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/laypage/1.2/laypage.js"></script>
<script>
	$("input[name='check']").click(function(e){

		var check = $(this).attr('checked');
		
		if (check == "checked") {
			$(this).parent('td').parent('tr').find('input').removeAttr('checked');
		} else {
			$(this).parent('td').parent('tr').find('input').attr('checked',true);
		}
		

	});

	function nodesave()
	{
		var cks=$("[name='rules']");  
        var str='';  //拼接id  
        for (var i=0; i<cks.length; i++) {  

            if (cks[i].checked) {  

                if (cks[i].value!=0) {

                    str += cks[i].value + ","; 
                }
            }  
         }  //去掉字符串末尾的‘,'  

         str = str.substring(0, str.length-1); 

         var id = $('#group_id').val();
         sendAjax("{:url('admin/role/nodeupdatedo')}","{:url('admin/role/roleNode')}",{"ids":str,"id":id});
	}
</script>

{/block}